@media only screen and (max-width: 1280px) {    /*When the screen is below 1280px wide the font size and padding is reduced and the image is removed*/
  .navBar a{
    font-size: 15px;
    padding: 20px;
  }
  .image-container img{
        display: none;
    }
}

@media only screen and (max-width: 720px) { /*When the screen width is below 720px (around the width of a mobile phone) the navbar will disapear and the media queury below will bring in the hamburger*/
  .navBar{
    display:none;
  }
  .image-container img{
        display: none;
    }
}

@media only screen and (min-width:720px){
    .hamburger{
        display:none;
    }
}


*{
    margin: 0px;
    padding: 0px;
}

body{
    min-height: 100vh;
    background-color: #6e6d24;
}

.navBar{
    background-color:#393214;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}
.navBar ul{
     width: 100%;
     font-family: Tahoma, sans-serif;
     font-size: 20px;
     
     list-style-type: none;
     overflow: hidden;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     
}

.navBar li{
    height: 60px;
}


.navBar a{
    height: 100%;
    padding: 0 70px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #f0f0f0;
}

.navBar a:hover{
    text-decoration:underline;
    text-decoration-color:#fff200;
}

nav li:first-child{
    margin-right: auto;
}

.image-container img {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Keep the aspect ratio */
  object-fit: cover; /* Cover the container without losing aspect ratio */
}


.hamburger{
  overflow: hidden;
  background-color:#959595;
  position: relative;
    
}

.hamburger a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.hamburger a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.hamburger #navLinks{
    display: none;
}

.active {
  background-color: #393214;
  color: white;
}

.title{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #6e6d24;
    margin-bottom: 0;
}
.title h1{
    font-family: Tahoma,sans-serif;
    font-size: 50px;
    color: #0f0f0f;
}


.footerStyle {
    color: #EDE8DF;
    background-color: #393214;
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; /* Align items to the top */
    position: absolute;
    width: 100%;
    bottom:0;
}

.footerStyle div {
    text-align: center; /* Center align the contents of each div */
}

.footerStyle h1,
.footerStyle h2 {
    font-size: 25px;
    margin-bottom: 10px; /* Add some space between the headings and the content */
}

.footerStyle h1 {
    margin-right: 20x; /* Adjust the margin between the headings (doesn't work?) */
}

.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

